.color-body{
  background-color: #E9EBEE;
}
.container{
  background-color: #E9EBEE;
}
#my-nav{
  color: white;
  background-color: #4267b2;
}
#my-nav a{
  color: white !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-social {
    font-size: 30px !important;
    color: white;
    padding: 10px;
}
.added-width{
  min-width: 400px;
}
#darkerColor span{
  color: #0D1325;
  font-size: 20px;
}
.navfont > li > a {
    margin: -10px 0px;
    position: relative;
    display: block;
    padding: 2px 15px;
    color: black;
    font-size: 13px;
}
.list-heading{
  padding: 20px 15px 0px 15px;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}
.size{
  padding: 0px 15px;
  font-size: 14px;
}
.panel{
  margin-bottom: 8px;
}
.panel-body .glyphicon{
  margin-left: 10px;
  margin-right: 4px;
}
.text-post{
  margin-bottom: 15px;
  margin-top: 0;
}
.img-post{
  margin-bottom: 15px;
}
.post-section ,.ads{
    height: 700px;
    overflow: scroll;
}
.post-section::-webkit-scrollbar {
    display: none;
}
.ads::-webkit-scrollbar{
    display: none;
}
.footer{
  height: 42px;
  margin-top: 10px;
}
b{
  font-style: italic;
  font-weight: bolder;
}
